<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>UseServletForStudent</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.jkxy.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/user/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exitServlet</servlet-name>
    <servlet-class>com.jkxy.servlet.exitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exitServlet</servlet-name>
    <url-pattern>/user/exitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inputStuInfoServlet</servlet-name>
    <servlet-class>com.jkxy.servlet.inputStuInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputStuInfoServlet</servlet-name>
    <url-pattern>/student/inputStuInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryAllServlet</servlet-name>
    <servlet-class>com.jkxy.servlet.queryAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryAllServlet</servlet-name>
    <url-pattern>/student/queryAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyOneStuServlet</servlet-name>
    <servlet-class>com.jkxy.servlet.modifyOneStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyOneStuServlet</servlet-name>
    <url-pattern>/student/modifyOneStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyOneStuInfoServlet</servlet-name>
    <servlet-class>com.jkxy.servlet.modifyOneStuInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyOneStuInfoServlet</servlet-name>
    <url-pattern>/student/modifyOneStuInfoServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>DeleteStuServlet</servlet-name>
    <servlet-class>com.jkxy.servlet.DeleteStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStuServlet</servlet-name>
    <url-pattern>/student/DeleteStuServlet</url-pattern>
  </servlet-mapping>
</web-app>